body {
  margin: 0;
  padding: 0;
  background-color: crimson;
}
h1 {
  text-align: center;
  margin: 20px 0px 0px 0px;
  color: rgb(12, 215, 237);
}
.lottery-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  /* margin: auto;
  max-width: 800px; */
}
.box {
  width: 170px;
  height: 40px;
  background-color: rgb(234, 237, 12);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-weight: bolder;
  font-size: larger;
}
.lottery-sheet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  height: 30px;
  width: 150px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  /* margin-right: 100px; */
  padding: 5px 5px;
  /* margin-left: 500px; */
  display: flex;
  justify-content: center;
  /* text-align: center; */
  cursor: pointer;
  margin: auto;
  max-width: 800px;
}
.winningBox {
  background-color: green;
  color: white;
}
.highlightedBox {
  border: 5px solid rgb(16, 4, 246);
}
h2 {
  color: rgb(235, 242, 243);
}
